<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #30be20;">
  
    <!-- <div class="d-flex"> -->
      

      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home"><h5 class="brand">The NoteBook</h5></a>
        </div>

        <div class="greeting mr-auto">
          <h6 class="textColor text-capitalize"><%=message%>, <%=userName%></h6>
        </div>


        <!-- Collapse button -->
      <!-- Collapse on small screen and visible on medium up -->
       
      <div class="dropdown float-right ml-auto d-block d-lg-none">
        <a class="btn btn-success " href="#" id="logout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="navbar-toggler-icon"></span>    
         </a>

         <div class="dropdown-menu" aria-labelledby="logout">
           <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>

     
     
   
   
   


   <!-- Visible in large screen -->
   <div class="float-right ml-auto d-none d-lg-block">
       <a class="btn btn-success" role="button" href="/logout">Logout</a>
   </div>
                
      </div>
    <!-- </div> -->
      
      
        
   
  </nav>