
  <div class="container">      
   
      <form  class="form-inline" action="/note" method="POST">
                 
         <div class="container dropdown noteAddArea input-group">            
            
            <input  class="form-control" type="text" name="noteTitle"  data-toggle="dropdown" data-target="dropdown-menu" placeholder="Add Note Title" size="64" >
            
            <div class="input-group-append">
               <button class="form-control btn btn-success" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;"type="submit">ADD</button>
            </div>   
           
            <ul class="dropdown-menu p-0 mt-2">
               <textarea class="form-control" name="noteContent" placeholder="Add Note Content" cols="66" rows="4"></textarea>
            </ul> 

         </div>      
        
      </form>
           
  </div>
































<!-- <div class="container-fluid noteAddArea">
   
     <div class="dropdown">

      <button class="dropdown-toggle btn btn-outline-success createnote btn-block" href="#" data-toggle="dropdown" data-target="dropdown-menu"> <h4 class="brand">Create a note </h4> </button>
      <ul class="dropdown-menu" style="right:0rem;">
        
        <form class="form-inline my-2 my-lg-0 justify-content-center" action="/note" method="post">
           
           <input class="form-control mr-sm-1 mb-2" name="noteTitle" type="text" size="28" placeholder="Add Title">
           <textarea class="form-control mr-sm-1 mb-2" placeholder="Add Note" name="noteContent" id="content" cols="30" rows="11"></textarea>
           <button class=" btn btn-success btn-block mr-1 " type="submit" style="width: 85%;"><h6 class="buttonText">Add</h6></button>
           
        </form>
    </ul>  

     </div>   
  </div> -->



  
  