<%- include("partials/header") %>


   <!-- Login Bar -->
   <nav class="navbar-fixed-top">

      <div class="loginbar form-row d-flex flex-row-reverse">
       
        <div class="col col-lg-6 col-md col-sm d-flex justify-content-left">
         
          <form class="form-group" action="/login" method="post">
            <div class="form-inline ">
            <div class="col-lg col-sm col-md p-1 ">
              <div class="d-flex flex-row mt-1 ml-1 textColor">
                <label for="loginEmail">Email</label>
              </div>              
              <div class="d-flex flex-row-reverse ">                
                <input class="form-control m-1" type="email" name="username" id="loginEmail" placeholder="Email" size="15" required autofocus>
              </div>              
            </div>
            <div class="col-lg col-sm col-md p-1  ">
              <div class="d-flex flex-row pb-0 ml-1 textColor">
                <label for="loginPassword">Password</label>
              </div> 
              <div class="d-flex flex-row-reverse">
              <input class="form-control m-1 " type="password" name="password" id="loginPassword"placeholder="Password " size="15" required>
             </div>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2 p-1">
              <div class="d-flex flex-row-reverse mt-3 mb-n2">
                 <button class=" form-control btn btn-success btn-login " type="submit" name="button">Login</button>
              </div>
           </div>
            </div>
           </form>
        </div>

      </div> 

   </nav>


   <div class="container brandLogo">
     <div class="form-row">

        <!-- Product Name -->
       <div class="col heading ">
        
          <h1 class="notebook d-lg-flex d-none d-lg-block ">The NoteBook</h1>
          <h1 class="notebookSM d-sm-flex d-lg-none">The NoteBook</h1>
          <h5 class="textColor">Drop a Note</h5>
         
       </div>

        <!-- SignUp bar -->
        <div class="col d-lg-flex justify-content-center d-none d-lg-block " >                

            
             <form class="" action="/signup" method="post">
              <div class="">
               <!-- Name input form -->
               <div class=" form-inline col-lg col-sm col-md m-0">
                 <div class=" mr-1">
                  <div class="d-flex flex-row mt-1 ml-1 textColor">
                    <label for="firstName">First Name</label>
                  </div>
                   <div class="d-flex flex-row-reverse">
                      <input class="form-control" type="text" name="fname" id="firstName"  placeholder="First Name" size="18" required autofocus>
                   </div>
                 </div>
                 <div class="ml-1">
                  <div class="d-flex flex-row mt-1 ml-1 textColor">
                    <label for="lastName">Last Name</label>
                  </div>
                   <div class="d-flex flex-row-reverse">
                    <input class="form-control" type="text" name="lname" id="lastName" placeholder="Last Name" size="18" required>
                   </div>
                 </div>                
                 
                </div>

                <div class=" form-inline col-lg col-sm col-md m-0">
                  <div class="m-0">
                    <div class="d-flex flex-row mt-1 ml-1 textColor">
                      <label for="email">Email</label>
                    </div>
                     <div class="d-flex flex-row-reverse">
                      <input class="form-control" type="email" name="username" id="email" size="46" placeholder="Email" autocomplete="off" required>
                     </div>
                   </div>
                </div>


                <div class=" form-inline col-lg col-sm col-md m-0">
                  <div class="">
                    <div class="d-flex flex-row mt-1 ml-1 textColor">
                      <label for="password">Password (Min 8 characters)</label>
                    </div>
                     <div class="d-flex flex-row-reverse">
                      <input class="form-control" type="password" name="password" id="password" size="46" autocomplete="off" placeholder="Password (min 8 characters)" minlength="8" required>
                     </div>
                   </div>
                </div>

                <div class=" form-inline col-lg col-sm col-md m-0">
                  <div class="">
                    <div class="d-flex flex-row mt-1 ml-1 textColor">
                      <label for="reEnterPassword">Re-enter Password</label>
                    </div>
                     <div class="d-flex flex-row-reverse">
                      <input class="form-control" type="password" name="passwordMatch" id="reEnterPassword" size="46" autocomplete="off" placeholder="Re-enter Password" minlength="8" required>
                     </div>
                   </div>
                </div>

                <div class="d-flex flex-row col-lg-4 mt-2">
                  <div class="">
                    <button class="form-control btn btn-success btn-md" type="submit" name="submit">Sign Up</button>
                  </div>
               </div>

                            
                 
              
               </form>
              
        </div>
       
     </div>
   </div>


   <!-- SignUp Bar -->
   <div class="container signupbar">
       <div class="d-lg-none">
          <div class="col-sm col-md">
              <div class="p-1 m-2 d-flex justify-content-center" >
                <h6 class="textColor">New user? Create your first notebook. </h6>
              </div>              
              <div class="p-1 m-2">
                <a class="btn btn-success btn-block "href="/signupPage" role="button">SignUp</a>
              </div>        
          </div>
       </div>
   </div>

   <%- include("partials/footer") %>
