<%- include("partials/header") %>
<nav class="navbar navbar-expand-md navbar-light d-flex justify-content-center d-lg-none" style="background-color: #30be20;">
<div class="navbar-header ">
    <a class="navbar-brand" href="/index"><h4 class="brand">The NoteBook</h4></a>
  </div>
</nav>

 
         <div class="container-fluid d-lg-none" style="text-align: center;">                
             
            <div style="margin-top: 3rem; margin-bottom: 2rem; text-align:center;">
                <h5 class="textColor">Sign Up to drop your notes</h5>
            </div>
            
            <form class="" action="/signup" method="post">
             <div style="display: inline-block;">
              <!-- Name input form -->
              <div class="col-lg col-sm col-md m-0">
                <div class=" mr-1">
                 <div class="d-flex flex-row mt-1 ml-1 textColor">
                   <label for="firstName">First Name</label>
                 </div>
                  <div class="d-flex flex-row-reverse">
                     <input class="form-control" type="text" name="fname" id="firstName"  placeholder="First Name" size="18" required autofocus>
                  </div>
                </div>
                <div class="ml-1">
                 <div class="d-flex flex-row mt-1 ml-1 textColor">
                   <label for="lastName">Last Name</label>
                 </div>
                  <div class="d-flex flex-row-reverse">
                   <input class="form-control" type="text" name="lname" id="lastName" placeholder="Last Name" size="18" required>
                  </div>
                </div>                
                
               </div>

               <div class="col-lg col-sm col-md m-0">
                 <div class="m-0">
                   <div class="d-flex flex-row mt-1 ml-1 textColor">
                     <label for="email">Email</label>
                   </div>
                    <div class="d-flex flex-row-reverse">
                     <input class="form-control" type="email" name="username" id="email" size="46" placeholder="Email" autocomplete="off" required>
                    </div>
                  </div>
               </div>


               <div class="col-lg col-sm col-md m-0">
                 <div class="">
                   <div class="d-flex flex-row mt-1 ml-1 textColor">
                     <label for="password">Password (Min 8 characters)</label>
                   </div>
                    <div class="d-flex flex-row-reverse">
                     <input class="form-control" type="password" name="password" id="password" size="46" autocomplete="off" placeholder="Password (min 8 characters)" minlength="8" required>
                    </div>
                  </div>
               </div>

               <div class="col-lg col-sm col-md m-0">
                 <div class="">
                   <div class="d-flex flex-row mt-1 ml-1 textColor">
                     <label for="reEnterPassword">Re-enter Password</label>
                   </div>
                    <div class="d-flex flex-row-reverse">
                     <input class="form-control" type="password" name="passwordMatch" id="reEnterPassword" size="46" autocomplete="off" placeholder="Re-enter Password" minlength="8" required>
                    </div>
                  </div>
               </div>

               <div class="d-flex flex-row col-lg-4 mt-2">
                 <div class="">
                   <button class="form-control btn btn-success btn-md" type="submit" name="submit">Sign Up</button>
                 </div>
              </div>

                           
                
             
              </form>
             
       </div>

       <div class="container d-lg-none mt-6" style="text-align: center; margin-top: 5rem;">

        <div style="display: inline-block;">
            <div style="margin-top: 3rem; margin-bottom: 2rem; text-align:center;">
                <h5 class="textColor">Or, Login into your account</h5>
            </div>
            <div class="d-flex flex-row">
                <div class="col-sm">
                    <a class="btn btn-success btn-block "href="/index" role="button">Sign In</a>
                </div>
             </div>
        </div>

    </div>


<%- include("partials/footer") %>