body{
  background-color: #a8df65;
}

.textColor{
  color: #fff;
}

.loginbar{
  margin-right: 0rem;
  margin-left: 11rem; 
  justify-content: center; 
}

@media screen and (max-width:576px){
.loginbar{
  margin-right: 2rem;
  margin-left: 2rem; 
  justify-content: center; 
}
}

@media screen and (max-width:768px){
  .loginbar{
    margin-right: 2rem;
    margin-left: 2rem;
    justify-content: center;    
  }
  }

.signupbar{
  position: relative;
  align-items: center;
  margin-top: 8rem;
}




/* .description{  
  color: #fff;
  margin-top: 1rem;
  
} */
.form{
  align-content: center;
}
.position{
  position: relative;
}


.notebook{
  font-size: 10rem;
  width: 100%;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.notebookSM{
  margin-top: -1rem;
  font-size: 3rem;
  width: 100%;
  color: #fff;
  text-align: center;
  justify-content: center;
}


.brand{
  color: #fff;

}

.brandLogo{
  margin-top: 8rem;
}



.btn-signup{
  position: relative;
  height:2rem;
  margin-top:4px;
  margin-left: 50px;
  padding-top: 0px;
  padding-bottom: 0px;

}

.emailLog{
  height:2rem;
  margin-top:9px;
  margin-bottom: 0px;
  /* margin-left: 765px; */
  border-radius: 2px;
  border: 0px;
}

.passwordLog{
  height:2rem;
  margin-top:9px;
  margin-bottom: 0px;

  border-radius: 2px;
  border: 0px;
}



.color{
  background-color: #30be20;
}

.container{
  
  text-align: center;
}

.jumbotron{
  margin-top: 150px;
  margin-left: 270px;
  width: 60%;
}

.buttonText{
  color: #fff;
  font-size: 1rem;
  }
  .btn{
    border-radius: 0.3rem;
  
  }

  .btn-outline-success{
    border-color:white;
    border-radius: 0.3rem;
    height: 2.5rem;
    width: 6rem;
    
    }

    .btn.createnote{
      border-color: white;
      height: 5rem;
      width: 19rem;
      border-width: 0.05rem;
    }

    .noteArea{
      width: 100%;
      position: relative;      
      margin-top: 4rem;
    }

    .noteAddArea{
     width: 40%;
     position: relative;
     margin: auto;
     margin-top: 2rem;     
    }
